<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Personales de <%= data['1nombre'] %></title>
    <!-- Links externos -->
    <%- include('partials/links') %>
</head>
<body class="min-vh-100 d-flex flex-column bg-danger-subtle" data-bs-theme="dark">
    
    <!-- Navegación -->
    <%- include('partials/nav') %>

    <!-- Contenido -->
    <main class="flex-grow-1 d-flex align-items-center justify-content-center flex-column p-5">
        <h1>Datos Personales de <%= data['1nombre'] %></h1>
        <!-- Formulario -->
        <form class="mt-3 bg-danger p-5 rounded-3" style="--bs-bg-opacity: .2; width: 800px;">
            <!-- Campos de nombres-->
            <div class="row">
                <div class="col-md-6">
                    <label for="inputFirstName" class="form-label">Primer nombre</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon1"><i class="ph ph-user"></i></span>
                        <input type="text" value="<%= data['1nombre'] %>" id="inputFirstName" class="form-control bg-danger-subtle" aria-label="firstName" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputMiddleName" class="form-label">Segundo nombre</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon2"><i class="ph ph-user"></i></span>
                        <input type="text" value="<%= data['2nombre'] %>" id="inputMiddleName" class="form-control bg-danger-subtle" aria-label="middleName" aria-describedby="basic-addon2" disabled>
                    </div>
                </div>
            </div>
            <!-- Campos de apellidos-->
            <div class="row">
                <div class="col-md-6">
                    <label for="inputFirstSurname" class="form-label">Primer apellido</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon1"><i class="ph ph-user"></i></span>
                        <input type="text" value="<%= data['1apellido'] %>" id="inputFirstSurname" class="form-control bg-danger-subtle" aria-label="firstSurname" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputSecondSurname" class="form-label">Segundo apellido</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon2"><i class="ph ph-user"></i></span>
                        <input type="text" value="<%= data['2apellido'] %>" id="inputSecondSurname" class="form-control bg-danger-subtle" aria-label="secondSurname" aria-describedby="basic-addon2" disabled>
                    </div>
                </div>
            </div>
            <!-- Campo de telefono y fecha de nacimiento-->
            <div class="row">
                <div class="col-md-6">
                    <label for="inputPhone" class="form-label">Teléfono</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon1"><i class="ph ph-phone"></i></span>
                        <input type="text" value="<%= data['telefono'] %>" id="inputPhone" class="form-control bg-danger-subtle" aria-label="phone" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputBirthDate" class="form-label">Fecha de nacimiento</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon2"><i class="ph ph-cake"></i></span>
                        <input type="text" value="<%= data['fechanacimiento'] %>" id="inputBirthDate" class="form-control bg-danger-subtle" aria-label="birthDate" aria-describedby="basic-addon2" disabled>
                    </div>
                </div>
            </div>
            <!-- Campo tipo de sangre y dirección -->
            <div class="row">
                <div class="col-md-6">
                    <label for="inputRH" class="form-label">Tipo de sangre</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon1"><i class="ph ph-drop"></i></span>
                        <input type="text" value="<%= data['rh'] %>" id="inputRH" class="form-control bg-danger-subtle" aria-label="RH" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Dirección</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon2"><i class="ph ph-map-pin"></i></span>
                        <input type="text" value="<%= data['direccion'] %>" id="inputAddress" class="form-control bg-danger-subtle" aria-label="address" aria-describedby="basic-addon2" disabled>
                    </div>
                </div>
            </div>
            <!-- Campos de email y ciudad -->
            <div class="row">
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon1"><i class="ph ph-envelope-simple"></i></span>
                        <input type="text" value="<%= data['correo'] %>" id="inputEmail" class="form-control bg-danger-subtle" aria-label="email" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Ciudad</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon2"><i class="ph ph-city"></i></span>
                        <input type="text" value="<%= data['ciudad'] %>" id="inputCity" class="form-control bg-danger-subtle" aria-label="city" aria-describedby="basic-addon2" disabled>
                    </div>
                </div>
            </div>
            <!-- Campos de identificación y ocupación -->
            <div class="row">
                <div class="col-md-6">
                    <label for="input#ID" class="form-label">N. Identificación</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon1"><i class="ph ph-identification-card"></i></span>
                        <input type="text" value="<%= data['nidentificacion'] %>" id="input#ID" class="form-control bg-danger-subtle" aria-label="#ID" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputOccupation" class="form-label">Ocupación</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-danger-subtle" id="basic-addon2"><i class="ph ph-briefcase"></i></span>
                        <input type="text" value="<%= data['ocupacion'] %>" id="inputOccupation" class="form-control bg-danger-subtle" aria-label="occupation" aria-describedby="basic-addon2" disabled>
                    </div>
                </div>
            </div>
            <a href="/home" class="btn btn-danger mt-3">Volver</a>
        </form>
    </main>

    <!-- Pie de pagina -->
    <%- include('partials/footer') %>
</body>
</html>